/* color palatte

    --bg-color: #1b2028;
    --main-color: #23a9d5;
    --caret-color: #4b5975;
    --sub-color: #4b5975;
    --sub-alt-color: #151a21;
    --text-color: #ccccb5;
    --error-color: #b81b2c;
    --error-extra-color: #84131f;
    --colorful-error-color: #b81b2c;
    --colorful-error-extra-color: #84131f;


*/

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  background-color: #1b2028;
}

.welcome {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #4A4A4A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
  color: #FFF; 
}

.heading {
  font-family: "Comic Sans";
  font-size: 50px;
  margin-bottom: 0px;
  opacity: 0; 
}

.sub-heading {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: "Avenir Next";
  margin-bottom: 40px;
  opacity: 0; 
}

.loader-wrapper {
  height: 2px;
  width: 150px;
  background: #ededed;
  border-radius: 100px;
  opacity: 0; 
}

.loader {
  height: 2px;
  width: 150px;
  background: #FFF;
  border-radius: 100px;
  background: #585858; 
}

p {
  max-width: 500px;
  font-family: "Avenir";
  line-height: 25px;
  text-align: justify;
  opacity: 0;
  color: #4b5975; 
  font-weight: 400;
  font-size: 1em;
  font-variant: no-common-ligatures;
  font-size: 20px;
  padding: 1em;
}

.correct {
  color: #ccccb5;
}

.incorrect {
  color: #b81b2c;
  text-decoration: underline;
}

#timeDisplay {
  padding-bottom: 0;
  margin: 0;
  color: #23a9d5;
}

.info {
  border-top: #4b5975 solid;
  display: flex;
  justify-content: flex-start;
}

.resetWrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px;
}

.reset {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  margin: auto;
  min-height: 20px;
  min-width: 25px;
}

.reset:hover {
  background-image: url("../icons/refresh2.png");
}
